<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="北京数驰科技,数驰科技,数驰">
    <meta name="description" content="专注服务保险、金融行业的全案整合营销公司">
    <title>北京数驰科技</title>
    <link rel="stylesheet" th:href="@{/static/css/portal/index/home.css}">
    <link rel="shortcut icon" th:href="@{/static/image/portal/index/favicon.ico}" loggerType="image/x-icon" />


</head>

<body>
    <div class="header">
        <div class="headerWrap">
            <h1>北京数驰科技</h1>
            <a class="logo" href="/"></a>
            <ul class="h_nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/introduce?index=0">公司介绍</a>
                </li>
                <li>
                    <a href="/introduce?index=3">企业愿景</a>
                </li>
                <li>
                    <a href="/introduce?index=4">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="warp">
        <div class="bannerWrap" style="background: url(static/image/portal/index/banBg.png) no-repeat center center;">
            <ul class="items clearfix">
                <li class="item" style="background: url(static/image/portal/index/ban1.png) no-repeat center center;"></li>
                <li class="item" style="background: url(static/image/portal/index/ban2.png) no-repeat center center;"></li>
                <li class="item" style="background: url(static/image/portal/index/ban3.png) no-repeat center center;"></li>
            </ul>
            <div class="phone"></div>
        </div>
        <div class="footer">
            <div class="footer_info">
                <dl class="content">
                    <dt>联系方式</dt>
                    <dd>
                        <i class="c1"></i>服务热线：010-65242851</dd>
                    <dd>
                        <i class="c2"></i>服务邮箱：
                        <a href="mailto:sc@modelink.cn">sc@modelink.cn</a>
                    </dd>
                    <dd>
                        <i class="c3"></i>服务 QQ：
                        <a href="tencent://message/?uin=2894697483&Site=Sambow&Menu=yes">2894697483</a>
                    </dd>
                    <dd>（工作日10:00-17:00）</dd>
                </dl>
                <dl class="about">
                    <dt>关于我们</dt>
                    <dd>
                        <a href="/introduce?index=0">公司介绍</a>
                    </dd>
                    <dd>
                        <a href="/introduce?index=1">企业定位</a>
                    </dd>
                    <dd>
                        <a href="/introduce?index=2">业务范围</a>
                    </dd>
                    <dd>
                        <a href="/introduce?index=3">企业愿景</a>
                    </dd>
                    <dd>
                        <a href="/introduce?index=4">联系我们</a>
                    </dd>
                </dl>
                <div class="code">
                    <img src="static/image/portal/index/code.jpg" alt="二维码">
                    <p>关注我们</p>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="copyright">
                    <p>© 2018-2019 北京数驰科技有限公司</p>
                    <p>
                        <a href="http://www.miibeian.gov.cn/">
                            <span style="color:#999999;">京ICP备18030836号-1</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{//code.jquery.com/jquery-latest.min.js}"></script>
<script th:src="@{/static/js/common/unslider.min.js}"></script>
<script th:src="@{/static/js/portal/index/index.js}"></script>

</html>