<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="北京数驰科技,数驰科技,数驰">
    <meta name="description" content="专注服务保险、金融行业的全案整合营销公司">
    <title>北京数驰科技</title>
    <link rel="stylesheet" th:href="@{/static/css/portal/index/home.css}">
    <link rel="shortcut icon" th:href="@{/static/image/portal/index/favicon.ico}" type="image/x-icon" />
</head>

<body>
    <div class="header">
        <div class="headerWrap">
            <h1>北京数驰科技</h1>
            <a class="logo" href="/"></a>
            <ul class="h_nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="introduce.html?index=0">公司简介</a>
                </li>
                <li>
                    <a href="introduce.html?index=3">工作机会</a>
                </li>
                <li>
                    <a href="introduce.html?index=4">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="warp">
        <div class="introWrap">
            <ul class="introsider" id="introsider">
                <li class="on">
                    <a href="javascript:;">公司简介</a>
                </li>
                <li>
                    <a href="javascript:;">产品与服务</a>
                </li>
                <li>
                    <a href="javascript:;">团队介绍</a>
                </li>
                <li>
                    <a href="javascript:;">工作机会</a>
                </li>
                <li>
                    <a href="javascript:;">联系我们</a>
                </li>
            </ul>
            <div class="intromain">
                <div class="intromain_about">
                    <h2>公司介绍</h2>
                    <p></p></br>
                    <p class="ti2">数驰科技有限公司总部位于北京，并在武汉设立分公司协同业务。公司提供专属保险/金融行业的定制化解决方案。
                        数驰科技通过整合互联网大数据提升客户的投放转化效果，并依托大数据为客户提供品牌推广、产品运营策略、品牌服务策略等整体解决方案。
                        以用户真实需求为出发点，为品牌提供售前、售中、售后的全链条服务体系。深耕保险/金融行业【网电结合】新营销模式。</p></br>
                    <p></p>
                </div>
                <div class="intromain_prod">
                    <h2>企业定位</h2>
                    <p></p></br>
                    <p>专注服务保险、金融行业的全案整合营销公司。</p></br>
                    <p></p>
                </div>
                <div class="intromain_team">
                    <h2>业务范围</h2>
                    <p></p></br>
                    <p>数驰科技业务包括品牌、策略、创意、公关，线下活动、数字互动、媒介采购，以及建立自有行业大数据库。
                        通过整合的一站式解决方案，帮助保险、金融行业客户实现互联网+业务布局，取得营销成功。</p></br>
                    <p></p>
                </div>
                <div class="intromain_work">
                    <h2>企业愿景</h2>
                    <p></p></br>
                    <p>互联网保险、金融营销标准制定者；</p></br>
                    <p>专注服务保险、金融行业的全案整合营销公司；</p>
                    <p>帮助品牌解决消费者争议的社会企业；</p></br>
                    <p></p>
                </div>
                <div class="intromain_contect">
                    <h2>联系我们</h2>
                    <div class="int_con_cont">
                        <div class="int_con_code">
                            <img src="/static/image/portal/index/code.jpg">
                        </div>
                        <div class="int_con_text">
                            <p>服务热线：010-65242851</p>
                            <p>服务邮箱：
                                <a href="mailto:sc@modelink.cn">sc@modelink.cn</a>
                            </p>
                            <p>服务 QQ：
                                <a href="tencent://message/?uin=2894697483&Site=Sambow&Menu=yes">2894697483（工作日10:00-17:00）</a>
                            </p>
                            <p>地址：北京市东城区东水井胡同INN2号楼11层A15</p>
                            <p class="sys">微信扫一扫，关注我们！</p>
                        </div>
                        <div class="int_con_map">
                            <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D北京INN2号楼-A区"
                                target="_blank">
                                <!--<iframe src="map.html" width="370" height="180"></iframe>-->
                                <img src="/static/image/portal/index/map.jpg" alt="地图">
                                <p>查看完整地图</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_info">
                <dl class="content">
                    <dt>联系方式</dt>
                    <dd>
                        <i class="c1"></i>服务热线：010-65242851</dd>
                    <dd>
                        <i class="c2"></i>服务邮箱：
                        <a href="mailto:sc@modelink.cn">sc@modelink.cn</a>
                    </dd>
                    <dd>
                        <i class="c3"></i>服务 QQ：
                        <a href="tencent://message/?uin=2894697483&Site=Sambow&Menu=yes">2894697483（工作日10：00-17：00）</a>
                    </dd>
                </dl>
                <dl class="about">
                    <dt>关于我们</dt>
                    <dd>
                        <a href="introduce.html?index=0">公司简介</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=1">产品与服务</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=2">团队介绍</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=3">工作机会</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=4">联系我们</a>
                    </dd>
                </dl>
                <div class="code">
                    <img src="/static/image/portal/index/code.jpg" alt="二维码">
                    <p>关注我们</p>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="copyright">
                    <p>© 2016-2017 无锡信成网络科技有限公司</p>
                    <p>
                        <a href="http://www.miibeian.gov.cn/">
                            <span style="color:#999999;">苏ICP备 16004147号-1</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/static/js/portal/index/jquery.js}" type="text/javascript"></script>
<script th:src="@{/static/js/portal/index/index.js}" type="text/javascript"></script>

</html>