<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="黑牛保险,互联网保险,黑牛保,赠险,重疾险,保险方案,私人订制,少儿保险,儿童保险,意外伤害保险,健康保险,交通意外险">
    <meta name="description" content="黑牛保险是国内首个提供保险规划、投保建议的互联网保险平台，专注于重疾险、意外险、寿险、养老险等健康险。1分钟1千元0骚扰，为您和家人订制专属保险方案。">
    <title>关于我们_互联网保险_保险方案订制_黑牛保险</title>
    <link rel="Shortcut Icon" href="static/home/images/favicon.ico">
    <script src="static/home/js/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/home/css/home.css" />
</head>

<body>
    <div class="header">
        <div class="headerWrap">
            <h1>黑牛保险</h1>
            <a class="logo" href="/"></a>
            <ul class="h_nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="intro.html?index=0">公司简介</a>
                </li>
                <li>
                    <a href="intro.html?index=3">工作机会</a>
                </li>
                <li>
                    <a href="intro.html?index=4">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="warp">
        <div class="introWrap">
            <ul class="introsider" id="introsider">
                <li class="on">
                    <a href="javascript:;">公司简介</a>
                </li>
                <li>
                    <a href="javascript:;">产品与服务</a>
                </li>
                <li>
                    <a href="javascript:;">团队介绍</a>
                </li>
                <li>
                    <a href="javascript:;">工作机会</a>
                </li>
                <li>
                    <a href="javascript:;">联系我们</a>
                </li>
            </ul>
            <div class="intromain">
                <div class="intromain_about">
                    <h2>公司简介</h2>
                    <p class="ti2">黑牛保险成立于2016年1月，是国内首个为用户提供保险规划和投保建议的互联网保险平台，专注于重疾险、意外险、寿险、养老险等大健康险种。黑牛保险通过测算个人或家庭的健康风险指数，结合保障目标和收入水平，为用户定制科学的投保方案并推荐最优的产品组合，手把手指导用户提高抗风险能力。同时黑牛保险大数据平台通过对用户的健康、收入等进行长期追踪、分析，持续优化投保方案，从而满足客户不断变化的保障需求。</p>
                </div>
                <div class="intromain_prod">
                    <h2>产品与服务</h2>
                    <p>1、对用户而言：</p>
                    <p class="ti2">一对一量身定制专业的投保方案，解决用户想买大健康险却不知如何购买的困惑。根据投保方案提供最优产品组合，并实现一键购买，节省客户的时间.</p>
                    <p>2、对保险行业而言：</p>
                    <p class="ti2">突破现今保险电商“假电商真直销”的模式，提高行业效率，改善用户体验。保险尤其是大健康险，产品非标准化且条目繁杂，长期以来，互联网发挥的作用仅限前端展示及引流。保险公司更倾向于保险经纪人以电话方式推介，用户的等待周期长且可能面临电话骚扰。黑牛保险通过向用户介绍科学的投保理念、制定投保方案和推荐产品组合，引导用户全程通过互联网自助完成购买，提高购买效率，改善用户体验。</p>
                    <p class="ti2">未来，黑牛保险致力于打通保险与医疗，使保险从单纯的赔付保障，参与到疾病风险管控，真正发挥保险的健康保障功能。</p>
                </div>
                <div class="intromain_team">
                    <h2>团队介绍</h2>
                    <p>黑牛保险由一群深入保险和互联网的跨界人才创立，团队全部来自于泰康等知名保险公司和网易、阿里、新浪、乐视等一流的互联网公司。</p>
                    <ul class="int_team_info">
                        <li>
                            <h3>陈杏来</h3>
                            <p>创始人/CEO</p>
                            <p>8年互联网产品经验</p>
                            <p>曾任职泰康人寿、网易保险</p>
                        </li>
                        <li class="last">
                            <h3>马建坤</h3>
                            <p>联合创始人/CTO</p>
                            <p>8年互联网研发经验</p>
                            <p>曾任职网易游戏、阿里巴巴</p>
                        </li>
                    </ul>
                </div>
                <div class="intromain_work">
                    <h2>工作机会 </h2>
                    <p>请发送您的简历至
                        <a href="mailto:hr@heiniubao.com">hr@heiniubao.com</a>,标题请注明所申请职位</p>
                    <ul class="int_work_jd">
                        <li>
                            <h3>后台开发</h3>
                            <p class="black">岗位职责:</p>
                            <p>1、负责完成服务端后台的架构分析、设计及核心研发，制定开发规范；</p>
                            <p>2、负责按时提交优质产品，并带领团队解决技术难题；</p>
                            <p>3、进行项目计划、工作统筹，带领技术团队完成项目开发和文档管理；</p>
                            <p>4、负责技术部队伍的建设，做好人员配置与协调，有效地监控项目进展。</p>
                            <p class="black">任职要求：</p>
                            <p>1、2-5年工作经验，本科及以上学历：英语4级、计算机相关专业；</p>
                            <p>2、精通python java php其中至少一门语言，熟悉C/C++，1年以上分布式开发经验；</p>
                            <p>3、熟悉各种负载均衡方案，熟悉大型网站的架构设计；</p>
                            <p>4、熟悉mysql，了解redis/memcache等；</p>
                            <p>5、良好的分析及解决问题能力、沟通能力和团队合作精神。</p>
                        </li>
                        <li>
                            <h3>前端开发</h3>
                            <p class="black">岗位职责:</p>
                            <p>1、负责产品网站的前端代码开发工作；</p>
                            <p>2、负责网页设计师构建页面并优化用户体验； </p>
                            <p>3、解决跨浏览器及版本的兼容性问题；</p>
                            <p>4、参与产品设计，搭建关键的交互界面原型。</p>
                            <p class="black">任职要求：</p>
                            <p>1、1-5年工作经验，本科及以上学历：英语4级、计算机相关专业；</p>
                            <p>2、Web实际开发经验，尤其对WAP网页的前端工作熟悉；</p>
                            <p>3、熟练语言：HTML、DIV+CSS、HTML5、CSS3、Javascript等，熟悉AJAX；</p>
                            <p>4、具备良好的团队沟通、协调能力。</p>
                        </li>
                        <li>
                            <h3>Android开发</h3>
                            <p class="black">岗位职责:</p>
                            <p>1、负责Android应用的开发；</p>
                            <p>2、完成软件设计、编码和单元测试工作，确保开发质量； </p>
                            <p>3、与团队其他成员协作/沟通，解决技术难题；</p>
                            <p>4、学习和研究新的移动互联网技术以满足产品的需求；</p>
                            <p>5、参与产品需求的沟通、讨论和协调。</p>
                            <p class="black">任职要求：</p>
                            <p>1、1-5年工作经验，本科及以上学历：英语4级、计算机相关专业；</p>
                            <p>2、精通Android开发平台及框架原理，以及Android控件的使用，熟练掌握Android界面和交互开发；</p>
                            <p>3、精通java开发语言，有良好编码风格，追求代码执行效率；</p>
                            <p>4、精通http/json通信模式；</p>
                            <p>5、熟练使用Git；</p>
                            <p>6、有Android Framework或ROM开发经验者优先。</p>
                        </li>
                        <li>
                            <h3>运营岗</h3>
                            <p class="black">岗位职责:</p>
                            <p>1、独立负责业务生命周期内的运营工作，包括方案确定、业务上线、产品运营、活动推广；</p>
                            <p>2、对业务的运营指标负责，不断优化产品、营销推广，达成公司的指标要求； </p>
                            <p>3、业务数据跟踪，通过数据分析，进行有效的运营优化；</p>
                            <p>4、协调公司各部门资源，良好的内部沟通能力。</p>
                            <p class="black">任职要求：</p>
                            <p>1、2年以上互联网公司运营经验，本科及以上学历；</p>
                            <p>2、有保险、金融类产品运营经验优先；</p>
                            <p>3、责任心强，工作细致，乐于挑战；</p>
                            <p>4、沟通协调能力强，具备团队合作精神。</p>
                        </li>
                    </ul>
                </div>
                <div class="intromain_contect">
                    <h2>联系我们</h2>
                    <div class="int_con_cont">
                        <div class="int_con_code">
                            <img src="static/home/images/code.jpg">
                        </div>
                        <div class="int_con_text">
                            <p>服务热线：010-87227385（工作日10:00-17:00）</p>
                            <p>服务邮箱：
                                <a href="mailto:service@heiniubao.com">service@heiniubao.com</a>
                            </p>
                            <p>服务 QQ：
                                <a href="tencent://message/?uin=3471653040&Site=Sambow&Menu=yes">3471653040</a>
                            </p>
                            <p>地址：北京市大兴区亦庄大族广场T5号楼2304-2305</p>
                            <p class="sys">微信扫一扫，关注我们！</p>
                        </div>
                        <div class="int_con_map">
                            <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8C%97%E4%BA%AC%E5%B8%82%E5%A4%A7%E5%85%B4%E5%8C%BA%E4%BA%A6%E5%BA%84%E5%A4%A7%E6%97%8F%E5%B9%BF%E5%9C%BAt5%E5%8F%B7%E6%A5%BC"
                                target="_blank">
                                <!--<iframe src="map.html" width="370" height="180"></iframe>-->
                                <img src="static/home/images/map.jpg" alt="地图">
                                <p>查看完整地图</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_info">
                <dl class="content">
                    <dt>联系方式</dt>
                    <dd>
                        <i class="c1"></i>服务热线：010-87227385（工作日10:00-17:00）</dd>
                    <dd>
                        <i class="c2"></i>服务邮箱：
                        <a href="mailto:service@heiniubao.com">service@heiniubao.com</a>
                    </dd>
                    <dd>
                        <i class="c3"></i>服务 QQ：
                        <a href="tencent://message/?uin=3471653040&Site=Sambow&Menu=yes">3471653040</a>
                    </dd>
                </dl>
                <dl class="about">
                    <dt>关于我们</dt>
                    <dd>
                        <a href="intro.html?index=0">公司简介</a>
                    </dd>
                    <dd>
                        <a href="intro.html?index=1">产品与服务</a>
                    </dd>
                    <dd>
                        <a href="intro.html?index=2">团队介绍</a>
                    </dd>
                    <dd>
                        <a href="intro.html?index=3">工作机会</a>
                    </dd>
                    <dd>
                        <a href="intro.html?index=4">联系我们</a>
                    </dd>
                </dl>
                <div class="code">
                    <img src="static/home/images/code.jpg" alt="二维码">
                    <p>关注我们</p>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="copyright">
                    <p>© 2016-2017 无锡信成网络科技有限公司</p>
                    <p>
                        <a href="http://www.miibeian.gov.cn/">
                            <span style="color:#999999;">苏ICP备 16004147号-1</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="static/home/js/index.js" type="text/javascript"></script>

</html>