<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="北京数驰科技,数驰科技,数驰">
    <meta name="description" content="专注服务保险、金融行业的全案整合营销公司">
    <title>北京数驰科技</title>
    <link rel="stylesheet" th:href="@{/static/css/portal/index/home.css}">
    <link rel="shortcut icon" th:href="@{http://image.modelink.cn/common/favicon.ico}" type="image/x-icon" />
</head>

<body>
    <div class="header">
        <div class="headerWrap">
            <h1>北京数驰科技</h1>
            <a class="logo" href="/"></a>
            <ul class="h_nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="introduce.html?index=0">公司介绍</a>
                </li>
                <li>
                    <a href="introduce.html?index=3">企业slogan</a>
                </li>
                <li>
                    <a href="introduce.html?index=4">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="warp">
        <div class="introWrap">
            <ul class="introsider" id="introsider">
                <li data-index="0" class="on">
                    <a href="javascript:;">公司介绍</a>
                </li>
                <li data-index="1">
                    <a href="javascript:;">企业定位</a>
                </li>
                <li data-index="2">
                    <a href="javascript:;">业务范围</a>
                </li>
                <li data-index="3">
                    <a href="javascript:;">企业slogan</a>
                </li>
                <li data-index="4">
                    <a href="javascript:;">联系我们</a>
                </li>
            </ul>
            <div class="intromain">
                <div data-index="0" class="intromain_about">
                    <h2>公司介绍</h2>
                    <p></p></br>
                    <p class="ti2">数驰为专业的品牌数字化整合营销方案公司。
                        专注于为行业的品牌客户提供个性化互联网营销解决方案。
                        深耕行业互联网营销新模式。</p></br>
                    <p class="ti2">公司具有丰富的媒体资源及专业的品牌策划能力。
                        公司团队成员曾任职国内主流互联网上市公司、知名金融行业公司，
                        合作过的国内外知名品牌企业过百家，获得合作品牌信任及支持。</p></br>
                    <p class="ti2">数驰自有用户大数据分析平台，为品牌提供以用户为中心的营销策略指引。</p></br>
                    <p class="ti2">数驰北京和武汉两地公司协同业务发展。</p></br>
                    <p></p>
                </div>
                <div data-index="1" class="intromain_prod">
                    <h2>企业定位</h2>
                    <p></p></br>
                    <p class="ti2">大数据营销个体解决方案提供商；</p></br>
                    <p class="ti2">真正意义上打通媒介渠道的广告公司；</p></br>
                    <p class="ti2">垂直化深度运营，为品牌互联网营销提供整体解决方案。</p></br>
                    <p></p>
                </div>
                <div data-index="2" class="intromain_team">
                    <h2>业务范围</h2>
                    <p></p></br>
                    <p class="ti2">立足行业需求及用户特色，提供垂直化、整合型的品牌营销服务。</p></br>
                    <p class="ti2">服务内容包括品牌策略、品牌策划；线上的活动创意、产品推广策略、公关支持、新媒体营销；线下活动等服务。</p></br>
                    <p class="ti2">建立自有行业大数据库，帮助客户实现互联网+业务布局，取得营销成功。</p></br>
                    <p></p>
                </div>
                <div data-index="3" class="intromain_work">
                    <h2>企业slogan</h2>
                    <p></p></br>
                    <p class="ti2">数据驱动营销</p></br>
                    <p></p>
                </div>
                <div data-index="4" class="intromain_contect">
                    <h2>联系我们</h2>
                    <div class="int_con_cont">
                        <div class="int_con_code">
                            <img src="http://image.modelink.cn/common/code.jpg">
                        </div>
                        <div class="int_con_text">
                            <p>服务热线：010-65242851</p>
                            <p>服务邮箱：
                                <a href="mailto:sc@modelink.cn">sc@modelink.cn</a>
                            </p>
                            <p>服务 QQ：
                                <a href="tencent://message/?uin=2894697483&Site=Sambow&Menu=yes">2894697483（工作日10:00-17:00）</a>
                            </p>
                            <p>地址：北京东城区南竹杆胡同2号银河SOHO-B座20905室</p>
                            <p class="sys">微信扫一扫，关注我们！</p>
                        </div>
                        <div class="int_con_map">
                            <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D北京东城区南竹杆胡同2号银河SOHO-B座20905室"
                                target="_blank">
                                <!--<iframe src="map.html" width="370" height="180"></iframe>-->
                                <img src="/static/image/portal/index/map.png" alt="地图">
                                <p>查看完整地图</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_info">
                <dl class="content">
                    <dt>联系方式</dt>
                    <dd>
                        <i class="c1"></i>服务热线：010-65242851</dd>
                    <dd>
                        <i class="c2"></i>服务邮箱：
                        <a href="mailto:sc@modelink.cn">sc@modelink.cn</a>
                    </dd>
                    <dd>
                        <i class="c3"></i>服务 QQ：
                        <a href="tencent://message/?uin=2894697483&Site=Sambow&Menu=yes">2894697483（工作日10：00-17：00）</a>
                    </dd>
                </dl>
                <dl class="about">
                    <dt>关于我们</dt>
                    <dd>
                        <a href="introduce.html?index=0">公司介绍</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=1">企业定位</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=2">业务范围</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=3">企业slogan</a>
                    </dd>
                    <dd>
                        <a href="introduce.html?index=4">联系我们</a>
                    </dd>
                </dl>
                <div class="code">
                    <img src="http://image.modelink.cn/common/code.jpg" alt="二维码">
                    <p>关注我们</p>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="copyright">
                    <p>© 2018-2019 北京数驰科技有限公司</p>
                    <p>
                        <a href="http://www.miibeian.gov.cn/">
                            <span style="color:#999999;">京ICP备18030836号-1</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{//code.jquery.com/jquery-latest.min.js}"></script>
<script th:src="@{/static/js/common/unslider.min.js}"></script>
<script th:src="@{/static/js/portal/index/index.js}"></script>

</html>