<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout/admin-layout"><!-- layout文件路径-->

<div id="header">
    <div class="logo"><a>北京数驰科技</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>

    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"><label th:text="${session.admin_session_name.userName}"></label></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('修改密码','/admin/resetPassword', 400, 300)">修改密码</a></dd>
                <dd><a href="/admin/logout">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>

</html>


