<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout/layout"><!-- layout文件路径-->
<!--<div th:fragment="menu">-->
    <div class="layui-side-scroll" id="menu">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">功能列表</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/reservation">预约列表</a></dd>
                </dl>
            </li>
            <!--
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
            -->
        </ul>
    </div>
<!--</div>-->
</html>