<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout/layout"><!-- layout文件路径-->

<div th:fragment="content">
    <div class="demoTable">
        搜索ID：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <table class="layui-hide" id="reserve-table-grid" lay-filter="user"></table>
</div>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#reserve-table-grid',
            url: '/admin/reservation/list',
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', title: 'ID', width:80, sort: true, fixed: true},
                {field: 'contactName', title: '预约姓名', width: 120},
                {field: 'contactTime', title: '预约时间', width: 120},
                {field: 'contactMobile', title: '预约电话', width: 120},
                {field: 'status', title: '数据状态', width: 80},
                {field: 'createTime', title: '创建时间', sort: true, width: 120},
                {field: 'updateTime', title: '更新时间', sort: true, width: 120}
            ]],
            id: 'testReload',
            page: true,
            height: 315,
            response: {
                statusName: 'rtnCode', //数据状态的字段名称，默认：code
                statusCode: 200, //成功的状态码，默认：0
                msgName: 'rtnMsg', //状态信息的字段名称，默认：msg
                countName: 'total', //数据总数的字段名称，默认：count
                dataName: 'rtnList' //数据列表的字段名称，默认：data
            }
        });

        var $ = layui.$;
        var active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        key: {
                            id: demoReload.val()
                        }
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>

