<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout/layout"><!-- layout文件路径-->

<div th:fragment="content">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="chooseDate" name="chooseDate" class="layui-input" placeholder=" - ">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">预约电话</label>
                <div class="layui-input-inline">
                    <input type="text" id="contactMobile" name="contactMobile" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                    <a class="layui-btn">查询</a>
                    <a class="layui-btn layui-btn-primary">重置</a>
            </div>
        </div>
    </form>

    <table class="layui-hide" id="reserve-table-grid"></table>

    <script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/admin/reservation/reserve.js}" type="text/javascript"></script>
    <script>
        layui.config({
            base: '/static/js/admin/reservation/' //你的模块目录
        }).use('reserve'); //加载入口
    </script>
</div>


</html>

