<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modelink.reservation.mapper.FlowReserveMapper" >

    <select id="findAdvertiseActiveList" resultType="java.lang.String">
        select `advertise_active` from `flow_reserve`
        group by `advertise_active`
    </select>

    <select id="findMapByParamGroup" resultType="java.util.Map">
        select
            date,
            count(0) as reserveCount,
            concat(date, '|', fee_type
            <if test="platformName != null and platformName != ''">
                , '|', platform_name
            </if>
            <if test="advertiseActiveList != null and !advertiseActiveList.contains('百度SEM')">
                , '|', advertise_active
            </if>
            ) as unionKey
        from `flow_reserve`
        where `fee_type` = #{dataSource}
        and `advertise_active` not like '%微信%'
        and `advertise_active` != 'MI-测保'
        and `advertise_active` != '-'
        and `advertise_active` != ''
        <if test="platformName != null and platformName != ''">
            and platform_name = #{platformName}
        </if>
        <if test="advertiseActiveList != null">
            and advertise_active in
            <foreach collection="advertiseActiveList" index="index" item="advertiseActive" open="(" separator="," close=")">
                '${advertiseActive}'
            </foreach>
        </if>
        <![CDATA[
            and `date` >= #{startDate}
            and `date` <= #{endDate}
        ]]>
        group by `date`
        <if test="platformName != null and platformName != ''">
            ,`platform_name`
        </if>
        <if test="advertiseActiveList != null and !advertiseActiveList.contains('百度SEM')">
            ,`advertise_active`
        </if>

    </select>

    <select id="findMapByMonthGroup" resultType="java.util.Map">
        select
        DATE_FORMAT(date, '%Y-%m') as `date`,
        DATE_FORMAT(date, '%Y-%m') as `month`,
        count(0) as reserveCount,
        concat(DATE_FORMAT(date, '%Y-%m'), '|', fee_type
        <if test="platformName != null and platformName != ''">
            , '|', platform_name
        </if>
        <if test="advertiseActiveList != null and !advertiseActiveList.contains('百度SEM')">
            , '|', advertise_active
        </if>
        ) as unionKey
        from `flow_reserve`
        where `fee_type` = #{dataSource}
        and `advertise_active` not like '%微信%'
        and `advertise_active` != 'MI-测保'
        and `advertise_active` != '-'
        and `advertise_active` != ''
        <if test="platformName != null and platformName != ''">
            and platform_name = #{platformName}
        </if>
        <if test="advertiseActiveList != null">
            and advertise_active in
            <foreach collection="advertiseActiveList" index="index" item="advertiseActive" open="(" separator="," close=")">
                '${advertiseActive}'
            </foreach>
        </if>
        <![CDATA[
            and `date` >= #{startDate}
            and `date` <= #{endDate}
        ]]>
        group by `month`
        <if test="platformName != null and platformName != ''">
            ,`platform_name`
        </if>
        <if test="advertiseActiveList != null and !advertiseActiveList.contains('百度SEM')">
            ,`advertise_active`
        </if>
    </select>

</mapper>