<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户分析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/admin/home/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin/home/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/layui/extends/form-selects-v4.css}">
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_604626_m0xm8ye4zbj.css}">
    <style>
        .layui-row.ml-row {
            border: 1px solid #E6E6E6;
            margin-bottom: 15px;
        }
        .ml-card {
            margin: 15px;
        }
        .layui-label {
            padding-left: 15px;
            height: 38px;
            line-height: 38px;
            background-color: #FBFBFB;
            border-bottom: 1px solid #E6E6E6;
        }
        .content-fixed {
            height: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            border: solid 1px #E6E6E6;
            padding: 15px 15px 15px 15px;
        }
    </style>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目选择</label>
                <div class="layui-input-inline">
                    <select id="merchant" name="merchant" lay-filter="merchant">
                        <option value="2" selected="">华夏</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline choose-date date">
                <label class="layui-form-label">选择日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="chooseDate" name="chooseDate" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">渠道归属</label>
                <div class="layui-input-inline">
                    <select id="platformName" name="platformName" lay-filter="platformName">
                        <option value="" selected="">全部</option>
                        <option value="PC">PC</option>
                        <option value="WAP">WAP</option>
                        <option value="OTHER">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">广告活动</label>
                <div class="layui-input-inline" style="width: 300px;" >
                    <input id="advertiseActive" type="hidden">
                    <select xm-select="advertiseActive" xm-select-search="" xm-select-height="38px">
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" id="search-btn" lay-filter="search-btn">查询</a>
                <a class="layui-btn layui-btn-primary reset-btn">重置</a>
            </div>
        </div>
    </form>

    <div class="content-fixed">
    <div class="layui-row ml-row">
        <div class="layui-label">地域承保人数分布</div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="ml-card">
                <div id="underwrite-count-echart" style="height: 400px;"></div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="ml-card">
                <table class="layui-table" lay-size="sm" lay-filter="underwrite-count-table">
                    <thead>
                        <tr>
                            <th lay-data="{align: 'center', field: 'provinceName'}">地域</th>
                            <th lay-data="{align: 'center', field: 'underwriteCount'}">承保数</th>
                            <th lay-data="{align: 'center', field: 'proportion'}">占比</th>
                        </tr>
                    </thead>
                    <tbody id="underwrite-count-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-row ml-row">
        <div class="layui-label">年龄性别分布（承保保费）</div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="ml-card">
                <div id="underwrite-amount-echart" style="height: 400px;"></div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="ml-card">
                <table class="layui-table" lay-size="sm" lay-filter="underwrite-amount-table">
                    <thead>
                        <tr>
                            <th lay-data="{align: 'center', field: 'agePart'}">年龄区间</th>
                            <th lay-data="{align: 'center', field: 'manCount'}">男（件数）</th>
                            <th lay-data="{align: 'center', field: 'manAmount'}">男（保费）</th>
                            <th lay-data="{align: 'center', field: 'womanCount'}">女（件数）</th>
                            <th lay-data="{align: 'center', field: 'womanAmount'}">女（保费）</th>
                            <th lay-data="{align: 'center', field: 'proportion'}">保费占比</th>
                        </tr>
                    </thead>
                    <tbody id="underwrite-amount-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-row ml-row">
        <div class="layui-label">承保客户 + 预约关键词</div>
        <div class="layui-col-sm12 layui-col-md12">
            <div class="ml-card">
                <table class="layui-table" lay-filter="underwrite-keyword-table">
                    <thead>
                        <tr>
                            <th rowspan="2" lay-data="{align: 'center', field: 'agePart'}">年龄区间</th>
                            <th colspan="3" lay-data="{align: 'center'}">男</th>
                            <th colspan="3" lay-data="{align: 'center'}">女</th>
                        </tr>
                        <tr>
                            <th lay-data="{align: 'center', field: 'manKeyword1'}">关键词1</th>
                            <th lay-data="{align: 'center', field: 'manKeyword2'}">关键词2</th>
                            <th lay-data="{align: 'center', field: 'manKeyword3'}">关键词3</th>
                            <th lay-data="{align: 'center', field: 'womanKeyword1'}">关键词1</th>
                            <th lay-data="{align: 'center', field: 'womanKeyword2'}">关键词2</th>
                            <th lay-data="{align: 'center', field: 'womanKeyword3'}">关键词3</th>
                        </tr>
                    </thead>
                    <tbody id="underwrite-keyword-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-row ml-row">
        <div class="layui-label">客户列表</div>
        <div class="layui-col-sm12 layui-col-md12">
            <div class="ml-card">
                <table class="layui-table" lay-filter="underwrite-list-table">
                    <thead>
                    <tr>
                        <th lay-data="{align: 'center', field: 'indexNo', sort: true}">序号</th>
                        <th lay-data="{align: 'center', field: 'mobile'}">手机号</th>
                        <th lay-data="{align: 'center', field: 'merchantName'}">合作商户</th>
                        <th lay-data="{align: 'center', field: 'platformName'}">渠道归属</th>
                        <th lay-data="{align: 'center', field: 'advertiseActive'}">广告活动</th>
                        <th lay-data="{align: 'center', field: 'reserveDate'}">预约日期</th>
                        <th lay-data="{align: 'center', field: 'finishDate'}">承保日期</th>
                        <th lay-data="{align: 'center', field: 'insuranceFee', sort: true}">保费</th>
                        <th lay-data="{align: 'center', field: 'isRepellent'}">是否退保</th>
                    </tr>
                    </thead>
                    <tbody id="underwrite-list-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>


<script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/common/echarts.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    layui.config({
        base: '/static/js/admin/dashboard/' //你的模块目录
    }).extend({
        formSelects: '../../../../static/layui/extends/form-selects-v4'
    }).use('customer'); //加载入口
</script>

</body>
</html>

