<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测保数据分析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/admin/home/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin/home/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/layui/extends/form-selects-v4.css}">
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_604626_m0xm8ye4zbj.css}">
    <style>
        .layui-card {
            background-color: #FBFBFB;
            border: solid 1px #E6E6E6;
        }
        .layui-card-header {
            height: 38px;
            line-height: 38px;
            border-color: #E6E6E6;
        }
        .echart-header {
            height: 48px;
            text-align: center;
            line-height: 48px;
            background-color: white;
            border-bottom: solid 1px #E6E6E6;
        }
        .echart-header label {
            font-size: 32px;
        }
        .echart-header i {
            margin-left: 50px;
            font-size: 16px;
        }
        .layui-card-body {
            background-color: white;
        }
        .layui-label label {
            height: 38px;
            line-height: 38px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .layui-label input {
            text-align: center;
        }
        .content-fixed {
            height: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            border: solid 1px #E6E6E6;
            padding: 15px 15px 15px 15px;
        }
    </style>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目选择</label>
                <div class="layui-input-inline">
                    <select id="merchant" name="merchant" lay-filter="merchant">
                        <option value="2" selected="">华夏</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline choose-date date">
                <label class="layui-form-label">选择日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="chooseDate" name="chooseDate" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">渠道归属</label>
                <div class="layui-input-inline">
                    <select id="platformName" name="platformName" lay-filter="platformName">
                        <option value="" selected="">全部</option>
                        <option value="PC">PC</option>
                        <option value="WAP">WAP</option>
                        <option value="OTHER">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">广告活动</label>
                <div class="layui-input-inline" style="width: 300px;" >
                    <input id="advertiseActive" type="hidden">
                    <select xm-select="advertiseActive" xm-select-search="" xm-select-height="38px">
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" id="search-btn" lay-filter="search-btn">查询</a>
                <a class="layui-btn layui-btn-primary reset-btn">重置</a>
            </div>
        </div>
    </form>

    <div class="content-fixed">
    <div class="layui-row layui-col-space15 ml-table">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>测保转化数（个）</label>
                <label id="transformTotalCount"></label>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>承保件数（件）</label>
                <label id="underwriteTotalCount"></label>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>承保保费（元）</label>
                <label id="underwriteTotalAmount"></label>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>总花费（元）</label>
                <label id="transformTotalAmount"></label>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15 ml-table">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>直接转化成本（元）</label>
                <label id="transformTotalCost"></label>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>点击数（个）</label>
                <label id="clickTotalCount"></label>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>点击率（%）</label>
                <label id="clickTotalRate"></label>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>测保转化周期（天）</label>
                <label id="transformTotalCycle"></label>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">测保转化数、承保件数、保费情况</div>
                <div class="layui-card-body">
                    <div id="estimate-result-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">总花费、直接转化成本情况</div>
                <div class="layui-card-body">
                    <div id="estimate-transform-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">到达率、二跳率、点击率情况</div>
                <div class="layui-card-body">
                    <div id="estimate-browse-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" id="estimate-keyword">
                    <div style="float:left;">广告描述（TOP30）</div>
                    <div style="float:right;" class="layui-btn-group">
                        <button data-value="estimate" class="layui-btn layui-btn-sm">测保-转化数</button>
                        <button data-value="underwrite" class="layui-btn layui-btn-primary layui-btn-sm">测保（承保）-件数</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div id="estimate-keyword-echart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" id="estimate-area">
                    <div style="float:left;">地区名称（TOP30）</div>
                    <div style="float:right;" class="layui-btn-group">
                        <button data-value="estimate" class="layui-btn layui-btn-sm">测保-转化数</button>
                        <button data-value="underwrite" class="layui-btn layui-btn-primary layui-btn-sm">测保（承保）-件数</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div id="estimate-area-echart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" id="estimate-client">
                    <div style="float:left;">客户端-测保转化数</div>
                    <div style="float:right;" class="layui-btn-group">
                        <button data-value="browser" class="layui-btn layui-btn-sm">浏览器</button>
                        <button data-value="os" class="layui-btn layui-btn-primary layui-btn-sm">操作系统</button>
                        <button data-value="resolutionRatio" class="layui-btn layui-btn-primary layui-btn-sm">分辨率</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div id="estimate-client-echart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">测保（承保保费）-性别/年龄区间分布</div>
                <div class="layui-card-body">
                    <div id="age-gender-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">测保（承保用户）-转化周期分布</div>
                <div class="layui-card-body">
                    <div id="transform-cycle-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/common/echarts.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    layui.config({
        base: '/static/js/admin/dashboard/' //你的模块目录
    }).extend({
        formSelects: '../../../../static/layui/extends/form-selects-v4'
    }).use('estimate'); //加载入口
</script>

</body>
</html>

