<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保单预约汇总</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/admin/home/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin/home/xadmin.css}">
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_604626_m0xm8ye4zbj.css}">
    <style>
        .layui-card {
            background-color: #FBFBFB;
            border: solid 1px #E6E6E6;
        }
        .layui-card-header {
            height: 38px;
            line-height: 38px;
            border-color: #E6E6E6;
        }
        .echart-header {
            height: 48px;
            text-align: center;
            line-height: 48px;
            background-color: white;
            border-bottom: solid 1px #E6E6E6;
        }
        .echart-header label {
            font-size: 32px;
        }
        .echart-header i {
            margin-left: 50px;
            font-size: 16px;
        }
        .layui-card-body {
            background-color: white;
        }
        .layui-label label {
            height: 38px;
            line-height: 38px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .layui-label input {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目选择</label>
                <div class="layui-input-inline">
                    <select id="merchant" name="merchant" lay-filter="merchant">
                        <option value="2" selected="">华夏</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline choose-date date">
                <label class="layui-form-label">选择日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="chooseDate" name="chooseDate" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">渠道归属</label>
                <div class="layui-input-inline">
                    <input type="text" id="platformName" name="platformName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">广告活动</label>
                <div class="layui-input-inline">
                    <input type="text" id="advertiseActive" name="advertiseActive" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" id="search-btn" lay-filter="search-btn">查询</a>
                <a class="layui-btn layui-btn-primary reset-btn">重置</a>
            </div>
        </div>
    </form>


    <div class="layui-row layui-col-space15 ml-table">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>消费数据总量</label>
                <input type="text" readonly id="consumeTotalAmount"></input>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>预约数量</label>
                <input type="text" readonly id="reserveTotalCount"></input>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>承保件数</label>
                <input type="text" readonly id="underwriteTotalCount"></input>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>总保费</label>
                <input type="text" readonly id="underwriteTotalAmount"></input>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15 ml-table">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>异常数据数量</label>
                <input type="text" readonly id="abnormalTotalCount"></input>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>退保保费</label>
                <input type="text" readonly id="repellentTotalAmount"></input>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>转化成本</label>
                <input type="text" readonly id="transformCost"></input>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-label layui-card">
                <label>转化周期</label>
                <input type="text" readonly id="transformCycle"></input>
            </div>
        </div>
    </div>


    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">消费趋势</div>
                <div class="layui-card-body">
                    <div id="consume-trend-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">转化概览</div>
                <div class="layui-card-body">
                    <div id="transform-summary-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">异常数据趋势</div>
                <div class="layui-card-body">
                    <div id="abnormal-count-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">退保保费趋势</div>
                <div class="layui-card-body">
                    <div id="repellent-amount-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">转化率</div>
                <div class="layui-card-body">
                    <div id="transform-rate-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">转化周期</div>
                <div class="layui-card-body">
                    <div id="transform-cycle-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">成本概览</div>
                <div class="layui-card-body">
                    <div id="cost-summary-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">转化成本排行榜</div>
                <div class="layui-card-body">
                    <div id="transform-cost-rank-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">承保件数排行榜</div>
                <div class="layui-card-body">
                    <div id="underwrite-count-rank-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">保费金额排行榜</div>
                <div class="layui-card-body">
                    <div id="underwrite-amount-rank-echart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/common/echarts.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/common/china.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/common/worldcloud.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    layui.config({
        base: '/static/js/admin/dashboard/' //你的模块目录
    }).use('summary'); //加载入口
</script>

</body>
</html>

