<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户分析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/admin/home/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin/home/xadmin.css}">
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_604626_m0xm8ye4zbj.css}">
    <style>
        .layui-row.ml-row {
            border: 1px solid #E6E6E6;
            margin-bottom: 15px;
        }
        .ml-card {
            margin: 15px;
        }
        .layui-label {
            padding-left: 15px;
            height: 38px;
            line-height: 38px;
            background-color: #FBFBFB;
            border-bottom: 1px solid #E6E6E6;
        }
        .layui-label .layui-btn-group {
            margin-right: 15px;
        }
        .layui-label .layui-btn-group button {
            width: 60px;
        }
    </style>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目选择</label>
                <div class="layui-input-inline">
                    <select id="merchant" name="merchant" lay-filter="merchant">
                        <option value="2" selected="">华夏</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline choose-date date">
                <label class="layui-form-label">选择日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="chooseDate" name="chooseDate" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">渠道归属</label>
                <div class="layui-input-inline">
                    <input type="text" id="platformName" name="platformName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">广告活动</label>
                <div class="layui-input-inline">
                    <input type="text" id="advertiseActive" name="advertiseActive" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" id="search-btn" lay-filter="search-btn">查询</a>
                <a class="layui-btn layui-btn-primary reset-btn">重置</a>
            </div>
        </div>
    </form>


    <div class="layui-row ml-row">
        <div class="layui-label">
            <div style="float:left;">时间段分析</div>
            <div style="float:right;" class="layui-btn-group">
                <button data-value="6" class="layui-btn layui-btn-sm">时</button>
                <button data-value="5" class="layui-btn layui-btn-primary layui-btn-sm">日</button>
                <button data-value="4" class="layui-btn layui-btn-primary layui-btn-sm">周</button>
                <button data-value="3" class="layui-btn layui-btn-primary layui-btn-sm">月</button>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="ml-card">
                <div id="reserve-count-echart" style="height: 400px;"></div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="ml-card">
                <table class="layui-table" lay-size="sm" lay-filter="reserve-count-table">
                    <thead id="reserve-count-table-head">

                    </thead>
                    <tbody id="reserve-count-table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/common/echarts.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    layui.config({
        base: '/static/js/admin/dashboard/' //你的模块目录
    }).use('time'); //加载入口
</script>

</body>
</html>

